/* Default Light Theme */
body {
	font-family: Trebuchet MS, sans-serif;
	background-color: #001a33;
	color: #ffffff;
	margin: 0;
	padding: 5px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
	background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Cursed theme (Light mode) */
body.dark {
	
	background-color: #f5f5f5;
	color: #333;
}

/* Decor image on the right */
#side-img {
    position: fixed;        /* stays visible on screen */
    top: 80%;               /* vertical center */
    left: 750px;           /* keep your original horizontal position */
	width: 1100px;
    transform: translateY(-50%); /* vertical centering */
    opacity: 1;             /* fully visible */
    pointer-events: none;   /* clicks pass through */
    z-index: -1;          /* stay on top */
}




/* navigation shortcuts */
#navigation {
    text-align: center;
}

#navigation ul {
    list-style: none;
    padding: 0;
}

#achievements a {
	text-decoration: none; /* remove underline cuz ug */
    color: #0066cc;
}

#achievements a:hover {
    color: #0066cc; /* color on hover same cuz its ugly if it changes*/
}

/* Achievement edsign */
#achievements {
    text-align: center;
}

#achievements ul {
    list-style: none;
    padding: 0;
}

#achievements li {
    margin-bottom: 20px;
}

#achievements li img {/* this is ai assisted */
    border: none;
    border-radius: 10px;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 0 8px rgba(0, 221, 255, 0.8);  */
}

/* Certification desfn */
#certifications {
    text-align: center;
}

#certifications ul {
    list-style: none;
    padding: 0;
}

#certifications li {
    margin-bottom: 20px;
}

/* Project design */
#projects {
    text-align: center;
}

#projects ul {
    list-style: none;
    padding: 0;
}

#projects li {
    margin-bottom: 20px;
}

/* Link design */
#achievements a {
	text-decoration: none; /* remove underline cuz ug */
    color: #0066cc;
}

#achievements a:hover {
    color: #0066cc; /* color on hover same cuz its ugly if it changes*/
}


