/* Default Superior Theme */
body {
	font-family: Trebuchet MS, sans-serif;
	background-color: #001a33;
	color: #ffffff;
	margin: 0;
	padding: 5px;
}
/* if iever i want to move everything at some point */
body > *:not(#side-img) {
    position: relative;
    left: 0px; /* move everything left */
}


header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

#break-img {
	width: 650px;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
	background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Cursed theme (Light mode) */
body.dark {
	
	background-color: #f5f5f5;
	color: #333;
}

/* Decor image on the right */
#side-img {
    position: fixed;        /* stays visible on screen */
    top: 80%;               /* vertical center */
    left: 770px;           /* keep your original horizontal position */
	width: 950px;
    transform: translateY(-50%); /* vertical centering */
    opacity: 1;             /* fully visible */
    pointer-events: none;   /* clicks pass through */
    z-index: -1;          /* stay on top */
}

/* navigation shortcuts */
#navigation {
    text-align: center;
}
#navigation ul {
    list-style: none;
    padding: 0;
}
#navigation a {
	text-decoration: none; /* remove underline cuz ug */
    color: #0066cc;
}
#navigation a:hover {
    color: #0066cc; /* color on hover same cuz its ugly if it changes*/
}

/* Achievement edsign */
#achievements {
    text-align: center;
}
#achievements ul {
    list-style: none;
    padding: 0;
}
#achievements li {
    margin-bottom: 20px;
}

#achievements li img {/* this is ai assisted */
    border: none;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);  */
}

/* Certification desfn */
#certifications {
    text-align: center;
}
#certifications ul {
    list-style: none;
    padding: 0;
}
#certifications li {
    margin-bottom: 20px;
}
/* this part was ai assisted */
#certifications ul {
    display: grid;
    grid-template-columns: repeat(3, fr); /*change number of columns */
    row-gap: 5px;
    list-style: none;
    padding: 0;
}
#certifications li {
    text-align: center; /* center images + text */
}


/* Project design */
#projects {
    text-align: center;
}
#projects ul {
    list-style: none;
    padding: 0;
}
#projects li {
    margin-bottom: 20px;
}

/* Link design */
#achievements a {
	text-decoration: none; /* remove underline cuz ug */
    color: #0066cc;
}
#achievements a:hover {
    color: #0066cc; /* color on hover same cuz its ugly if it changes*/
}
#certifications a {
	text-decoration: none; /* remove underline cuz ug */
    color: #0066cc;
}
#certifications a:hover {
    color: #0066cc; /* color on hover same cuz its ugly if it changes*/
}


